@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: "Noto Sans JP", sans-serif;
  --nav-height: 8rem;
  --max-width: 1024px;
  --container-padding: var(--nav-height) 4rem 0 4rem;
  --gap:2rem;
  --bg-color: #fff;
  --text-color: #000;
  --main-color: rgb(255,213,135);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --text-color: #fff;
  }
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul {
  list-style: none;
}

/* color */
button {
  color: var(--text-color);
}

input, textarea {
  color: var(--text-color);
}

.line {
  background: var(--text-color);
}

/*======================================================
# header
======================================================*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  backdrop-filter: blur(5px);
}

.header__nav {
  width: 100%;
  max-width: var(--max-width);
  height: var(--nav-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 3rem;
}

.header__nav,
.header__nav-toggle {
  cursor: pointer;
}

.header__logo {
  font-weight: 700;
  font-size: 2rm;
  z-index: 99;
  position: relative;
  padding-left: 25px;
}
.header__logo::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  background: var(--main-color);
  mask: url("/image/icon02.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  z-index: -1;
}

.header__nav-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: --gap;
}
@media (max-width: 767px) {
  .header__nav-list li {
    height: var(--nav-height);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 767px) {
  .header__nav-list {
    flex-direction: column;
  }
}

/* hamburger menu */
.header__nav-toggle {
  z-index: 200;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .header__nav-toggle {
    display: flex;
  }
}
.header__nav-toggle .line {
  width: 20px;
  height: 2px;
  border-radius: 1px;
  transition: transform 0.5s, opacity 0.5s;
  transform-origin: left;
}
.header__nav-toggle .top {
  margin-bottom: 5px;
}
.header__nav-toggle .bottom {
  margin-top: 5px;
}

#nav.toggle .top {
  transform: rotate(45deg);
}
#nav.toggle .middle {
  opacity: 0;
}
#nav.toggle .bottom {
  transform: rotate(-45deg);
}
#nav.toggle .header__nav-menu {
  transform: translateX(-100%);
}

@media (max-width: 767px) {
  .header__nav-menu {
    background: var(--bg-color);
    position: fixed;
    top: 0;
    right: -50%;
    width: 50%;
    height: 100vh;
    padding-top: var(--nav-height);
    transition: transform 0.5s ease-in-out;
    z-index: 120;
  }
}

/*======================================================
# main
======================================================*/
.container {
  width: 100%;
  padding: var(--max-width);
  margin: 0 auto;
}

.top-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--gap);
  height: 90dv;
}

.top-image {
  width: 100%;
  height: 100%;
  position: relative;
}
.top-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.top-title h1 {
  font-size: 4;
}/*# sourceMappingURL=style_20230319211416.css.map */