@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font: 'Noto Sans JP', sans-serif;
  --nav-height: 8rem;
  --max-width: 1024px;
  --container-padding: var(--nav-height)  4rem 0 4rem;
  --gap:2rem;
  --bg-color: #fff;
  --text-color: #000;
  --main-color: rgb(255,213,135);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000;
    --text-color: #fff;
  }
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--font);
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--bg-color);
}

a {
  text-decoration: none;
  color: var(--text-color);
}

ul { 
  list-style: none;
}

/* color */

button {
  color: var(--text-color);
}

input, text